$green: #87CEBB;
$pink: #CD5875;

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}

.navbar-light {
  background: rgba(255, 255, 255, .9);
}

.nav-link {
  color: #777;
}

.title-pink {
  color: $pink;
}

.title-green {
  color: $green;
}

.btn-green {
  border-color: $green;
  color: $green;
  &:hover {
    background: $green;
    border-color: $green;
    color: $pink;
  }
}

.hero {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;

  img {
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .hero-block {
    position: relative;
    max-width: 80%;
    top: 20%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    padding: 6em 0;

    h1 {
      font-size: 6em;
    }
    h2 {
      font-size: 4em;
      font-weight: 100;
    }
    .action {
      border: 2px solid #fff;
      color: #fff;
      font-size: 1.5em;
    }

  }
}


.title-white {
  color: #fff;
}
section {
  padding: 60px 0;
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

}

#map {
  width: 100%;
  height: 400px;
}

.timeline {
  list-style: none;
  padding: 30px 0 30px 0;
  position: relative;
  margin: 0 auto;
  width: 40%;
  border-left: 2px solid #eee;

  &:before {
    position: absolute;
    top: -15px;
    bottom: 0;
    content: "\f004";
    width: 2px;
    left: -7px;
    margin-left: -1.5px;
    font-family: "fontAwesome";
    z-index: 10;
    color: $pink;
  }

  &:after {
    position: absolute;
    bottom: -15px;
    content: "\f004";
    width: 2px;
    left: -7px;
    margin-left: -1.5px;
    font-family: "fontAwesome";
    z-index: 10;
    color: $pink;
  }

  li {
      list-style: none;
      margin-bottom: 20px;
      position: relative;

      .title {
        padding-left: 30px;
        font-weight: 600;
      }

      .text{
        padding-left: 30px;
      }

        .date {
          font-weight: 200;
          color: #777;
          padding-left: 30px;
          &:before {
            top: 10px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 30px;
            height: 2px;
            background-color: #eeeeee;
            left: 0;
            margin-left: -1.5px;
          }
      }
    }
}
